<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
    <add key="repositoryPath" value="ThirdParty\TempNuget" />
    <add key="globalPackagesFolder" value="ThirdParty\TempNuget" />
    <add key="dependencyVersion" value="Highest" />
  </config>
  <packageSources>
    <clear />
    <add key="ck11Internal" value="http://cl-tfs2022.monitel.local/CK-11/_packaging/Internal.7.1/nuget/v3/index.json" allowInsecureConnections="True" />
    <add key="ck113Party" value="http://cl-tfs2022.monitel.local/CK-11/_packaging/NugetThirdParty@11.7.1/nuget/v3/index.json" allowInsecureConnections="True" />
	<add key="QATools" value="http://cl-tfs2022.monitel.local/CK-11/_packaging/QATools/nuget/v3/index.json" allowInsecureConnections="True" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>