{
  "ServerGroups": [
    {
      "Name": "Локальные серверы",
      "Servers": [
        {
          "Name": "Локальный тест",
          "Host": "localhost",
          "Username": "testuser",
          "Password": "test123",
          "Path": "C:\\\\Program Files\\Monitel\\CK-11\\Client\\Log",
          "Protocol": "Local",
          "Port": 22
        }
      ]
    },
    {
      "Name": "Production DB",
      "Servers": [
        {
          "Name": "perf-cmp-db1",
          "Host": "10.181.160.105",
          "Protocol": "SSH",
          "Username": "administrator",
          "Password": "P@ssw0rd",
          "Path": "/var/log/CK-11/",
          "Port": 22
        },
        {
          "Name": "perf-cmp-db2",
          "Host": "10.181.160.106",
          "Protocol": "SSH",
          "Username": "administrator",
          "Password": "P@ssw0rd",
          "Path": "/var/log/CK-11/",
          "Port": 22
        }
      ]
    },
    {
      "Name": "Production SCADA",
      "Servers": [
        {
          "Name": "perf-cmp-scd1",
          "Host": "10.181.160.101",
          "Protocol": "SSH",
          "Username": "administrator",
          "Password": "P@ssw0rd",
          "Path": "/var/log/CK-11/",
          "Port": 22
        },
        {
          "Name": "perf-cmp-scd2",
          "Host": "10.181.160.102",
          "Protocol": "SSH",
          "Username": "administrator",
          "Password": "P@ssw0rd",
          "Path": "/var/log/CK-11/",
          "Port": 22
        }
      ]
    }
  ]
}